<%- include('./partials/header') %>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h2 class="title">
                KILL OR DIE
            </h2>
        </div>
    </div>
</section>
<section class="user-card">
    <div class="container">
        <% roomData.status.forEach(statusLine => { %>
         <div><%=statusLine%></div>
        <% }) %>
        <h2 class="subtitle">ALIVE</h2>
        <div class="columns is-multiline">
            <% participants.forEach(participant => { %>
                <% if(!participant.isKilled) { %>
                    <%- include('./partials/userCard', {participant}) %>
                    <% } %>
                    <%})%>
                </div>
                <hr>
                
        <h2 class="subtitle dead">DEAD</h2>
        <div class="columns is-multiline">
            <%participants.forEach(participant => {%>
            <%if(participant.isKilled) {%>
            <%- include('./partials/killedUserCard', {participant}) %>
            <%}%>
            <%})%>
        </div>

    </div>
    </div>

</section>