@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@400;600&display=swap");

.va {
  display: flex;
  align-items: center;
}

html {
  font-family: "Nunito Sans", sans-serif;
  color: white;
  /* text-align: center; */
}

a {
  color: #3b7adf;
}

a:hover {
  text-decoration: underline;
  color: #3b7adf;
}

hr {
  background: #24272c;
}

.hero {
  background: #060606;
}

.title,
.section-title {
  color: rgb(194, 194, 194);
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 25px;
  display: block;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 0 !important;
}

.user-card {
  min-height: 100vh;
  background: #191b1f;
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.user-card article {
  padding: 1.5rem;
}

.user-card .post img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.user-card .post .post-category {
  color: #3b7adf;
}

.user-card .post .post-title {
  font-size: 2.2rem;
}

.column {
  text-align: center;
}

.post {
  border: 1px solid;
}

.alive {
  color: rgb(0, 92, 0);
}

.dead {
  color: #760000;
}

.disabled {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.led-red {
  margin: 20px auto;
  width: 12px;
  height: 12px;
  background-color: #940;
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #f00 0 2px 12px;
}

.led-green {
  margin: 20px auto;
  width: 12px;
  height: 12px;
  background-color: #690;
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7d0 0 2px 12px;
}
